.home {
  font-size: 28px;
  font-weight: 500;
  color: goldenrod;
  padding: 8px;

  img {
    height: 100px;
    width: 100px;
    border-radius: 10px;
  }

  .newDiv {
    color: greenyellow;
    font-size: 20px;
    //font-weight: bold;
  }
}